<h3>Create a Comment</h3>
<%= form_with model: [@post, @post.comments.build] do |form| %>
  <%= form.text_field :author, placeholder: "author" %>
  <%= form.text_field :content, placeholder: "content" %>
  <%= form.submit %>
<% end %>