<%= render @post %>

<div class="container mt-3">
<div>
 <div class = "m-2">
  <h3> Comments: </h3>
 </div>

  <div class="list-group">
    <% @post.comments.each do |comment| %>
     <li class="list-group-item">
      <%= render comment %>
      </li>
    <% end %>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
         <%= link_to "Back to Posts", posts_path, class: 'btn btn-link' %> 
          <%= link_to "New Comment", new_post_comment_path(@post), class: 'btn btn-dark' %> 
       
    </div>

</div>

</div>